
<h1>Listing newsletters</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Homepage</th>
  </tr>
 
  <% @newsletters.each do |newsletter| %>
    <tr>
      <td><%= newsletter.name %></td>
      <td><%= newsletter.category %></td>
      <td><%= link_to 'Link', newsletter.url %></td>
    </tr>
  <% end %>
</table>
